html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

#navColor {
    background-color: aliceblue;
    margin-bottom: 0px;
}

.wrapper {
    min-height: 100vh;
    margin-bottom: -42px;
}

.footer, .push {
    height: 50px;
}

 #userText {
     z-index: 100;
 }

.no-gutters {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.myImage {
    width: 100%;
}

button#signAdvice {
    margin-bottom: 10px;
}

div.makeBox {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    word-wrap: break-word;
}

button#topicButton, button#signupButton, 
button#logoutButton, button#homeButton, button#usersButton {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1;
}

.padded-multiline {
    line-height: 1.4; 
    padding: 2px 0;
  }

.padded-multiline span { 
    background-color: #f3f2f3;
    color: black; 
    display: inline;
    padding: 3px;
    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

#carouselBackground {
    margin-top: 0px;
}

input#feedKitten {
    margin-top: 5px;
}

button#createKitten {
    margin-top: 10px;
}

button.kittenButtons {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

span#editThisKitten {
    cursor: pointer;
}

#keepInline {
    display: inline-block;
    margin-left: 6px;
}

.metricInfo {
    margin-top: 8px;
    cursor: pointer;
    width: 130px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
}

#feedTimer {
    background-color: crimson;
    color: white;
}

p {
    margin-left: 30px;
    margin-right: 5px;
}

a.answerA{
    display: block;
    margin: 0px 5px 10px 30px;
   /* margin-left: 30px;
    margin-right: 5px;
    margin-bottom: 10px; */
}

#chartContainerSize, #chartContainerWeight {
    margin-top: 20px;
}

button#loadTopics {
    margin-top: 20px;
}

.littleX, .littleXAnswer, .littleXTopic {
    color: red;
    margin-bottom: 5px;
    margin-top: -5px;
}

.littleE, .littleEAnswer, .littleETopic {
    margin-left: 40px;
    color: red;
    margin-bottom: 5px;
    margin-top: -5px;
}



@media only screen and (orientation: portrait) {
    button#topicButton, button#signupButton, button#logoutButton,
    button#homeButton, button#usersButton {
        font-size: 14px;
    }

    h3 {
        font-size: 18px;
        margin-top: 10px;
    }
    
}