html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

#navColor {
    background-color: aliceblue;
    margin-bottom: 0px;
}

 #userText {
     z-index: 100;
 }

.no-gutters {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.myImage {
    width: 100%;
}

button#signAdvice {
    margin-bottom: 10px;
}

button#topicButton, button#signupButton, button#logoutButton {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input#feedKitten {
    margin-top: 5px;
}

button#createKitten {
    margin-top: 10px;
}

button.kittenButtons {
    margin-left: 5px;
}

.metricInfo {
    width: 110px;
    display: inline-block;
}

#feedTimer {
    background-color: crimson;
    color: white;
}

p {
    margin-left: 30px;
}

button#loadTopics {
    margin-bottom: 20px;
}

@media only screen and (orientation: portrait) {
    button#topicButton, button#signupButton, button#logoutButton {
        font-size: 14px;
    }

    h3 {
        font-size: 18px;
        margin-top: 10px;
    }
}