html, body {
    height: 100%;
    margin: 0;
}

body {
    box-sizing: border-box;
    /* background-image: url("../img/cityback.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: aliceblue;
}

button.kittenButtons {
    margin-left: 5px;
}

/*button#submitNewKittenMetrics {
    display: inline-block;
}*/

.metricInfo {
    width: 110px;
    display: inline-block;
}

p {
    margin-top: 24px;
    margin-bottom: 8px;
    margin-right: 4px;
}

#articles {
    display: inline-block;
    padding: 12px;
}

/* #notes {
    float: right;
    width: 30%;
} */

textarea, input {
    display: block;
    width: 100%;
    background-color: #e6e2eb;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}

#saveNote {
    margin-top: 4px;
}

#deleteNote {
    margin-left: 4px;
    margin-top: 4px;
}