html, body {
    height: 100%;
    margin: 0;
}

body {
    box-sizing: border-box;
    /* background-image: url("../img/cityback.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: aliceblue;
    max-height: 100vh;
}
 #userText {
     z-index: 100;
 }

/*#fullBody {
    min-height: 100vh;
}*/

#carouselBackground {
    margin-top: -302px;
    pointer-events: none;
    margin-bottom: 10px;
}

.no-gutters {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
.myImage {
    width: 100%;
}

span#topicButton, span#signupButton {
    z-index: 100;
    font-size: 26px;
}

button#justTopicButton, button#justButton {
    color: black;
}

button#createKitten, button#justButton {
    margin-top: 10px;
}

button.kittenButtons {
    margin-left: 5px;
}

/*button#submitNewKittenMetrics {
    display: inline-block;
}*/

.metricInfo {
    width: 110px;
    display: inline-block;
}

#feedTimer {
    background-color: crimson;
    color: white;
}

p {
    margin-left: 30px;
}

button#loadTopics {
    margin-bottom: 20px;
}

@media only screen and (orientation: portrait) {
    span#topicButton, span#signupButton {
        font-size: 24px;
    }
}